**/__pycache__
smart_app_data.pkl
smart_app_data.csv
*/*/upload
.venv/
.SA_venv/
.vscode/
.DS_Store
*.pyc
.idea
models/
kpi-engine/src/prova.csv
rag/TODO.txt
kpi-engine/src/prva.ipynb
rag/docs/sa_ontology.rdf
rag/queryGen/prova.py
